body, html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight:100;
}

.header {
  display: flex; 
/*  background-color: #ebc743;
*/  width: 100%; 
  text-transform: uppercase;
  color:  #4c4c4a;
}

.nav {
	overflow: hidden;
}

.nav a {
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 14px 28px;
  font-size: 26px;
}

/*.nav a:hover {
  background-color: #9f9f9b;
}

.nav a.active {
  background-color: #9f9f9b;
  color: black;
}*/

.main_container {
	display: flex;
	flex-direction: row;
	margin-top:40px;
	align-items: flex-start;
}

.profile_container {
	display: flex;
	flex-direction: column;
    margin-left:100px;
    margin-top: 20px;
}

.pic {
    display: flex; 
    width: 20%; 
}

.links {
	display: flex;
	margin-left: 50px;
}

.social_link {
	display: flex; 
	padding:10px;
	font-size:18px;
	color:  #4e3d81;
}

.main_text {
	display: flex;
	align_self: flex-start;
	margin-top: 30px;
	margin-left: 50px;
	font-size: 18px;
	margin-right: 150px;
}

.projects_header {
	display: flex; 
	background-color: #d0cfcd;
	margin-top: 100px;
	color: #4c4c4a;
}

.project_container {
	display: flex; 
	flex-direction: row;
    padding: 40px;
	margin-left:70px;
	margin-right: 80px;

}

.project_title {
	display: flex; 
	flex-direction: row;
	font-size: 18px;
	color:  #4e3d81;
}

.project_description {
	display: flex; 
	flex-direction: row;
	margin-left:40px;
}